<html ng-app="loggerThrift">
  <head>
    <title>Thrift Logger</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <script src="//cdn.pubnub.com/pubnub-3.7.14.min.js"></script>
    <style type="text/css">
      .chat
      {
          list-style: none;
          margin: 0;
          padding: 0;
      }
      
      .chat li
      {
          margin-bottom: 10px;
          padding-bottom: 5px;
          border-bottom: 1px dotted #B3A9A9;
      }
      
      .chat li.left .chat-body
      {
          margin-left: 60px;
      }
      
      .chat li.right .chat-body
      {
          margin-right: 60px;
      }
      
      
      .chat li .chat-body p
      {
          margin: 0;
          color: #777777;
      }
      
      .panel .slidedown .glyphicon, .chat .glyphicon
      {
          margin-right: 5px;
      }
      
      .panel-body
      {
          overflow-y: scroll;
          height: 550px;
      }
      
      ::-webkit-scrollbar-track
      {
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
          background-color: #F5F5F5;
      }
      
      ::-webkit-scrollbar
      {
          width: 12px;
          background-color: #F5F5F5;
      }
      
      ::-webkit-scrollbar-thumb
      {
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
          background-color: #555;
      }

    </style>
  </head>
  <body ng-controller="loggerCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-transfer"></span> Logger
                    </div>
                    <div class="panel-body">
                        <ul class="chat" ng-repeat="message in messages">
                            <li class="left clearfix">
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">{{message.from}}</strong> <small class="pull-right text-muted">
                                            <span class="glyphicon glyphicon-time"></span>{{message.at}}</small>
                                    </div>
                                    <p>
                                        {{message.body}}
                                    </p>
                                </div>
                            </li>
                        </ul>
                        <div id="bottom"></div>
                    </div>
                    <div class="panel-footer">
                      <div class="row">
                        <div class="col-lg-12">
							<div class="form-group">
								<input class="form-control input-sm" placeholder="Type your message here..." type="text" ng-model="mail.message">
							</div>
						    <div class="btn-group  col-lg-offset-4">
							<button type="button" class="btn btn-default" ng-click="send()">Send Command
							</button>
							</div>
						</div>
					  </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id=pubnub ssl=on></div>
  </body>
  <script>
    var app = angular.module("loggerThrift", []);
    app.factory('pubnub', function ($rootScope) {
      var pubnub = PUBNUB({ subscribe_key: "sub-c-6151bc72-8569-11e2-80e6-12313f022c90",
      ssl: true});
      return {
        subscribe: function (channel, callback) {
        pubnub.subscribe({
          channel: channel,
          message: function() {
            var args = arguments;
            $rootScope.$apply(function() {
              callback.apply(pubnub, args);
            })
          }
        })}
      };
    });
    app.controller("loggerCtrl", function($scope,$http, pubnub,$location, $anchorScroll) {
      $scope.mail = {};
      $scope.messages = [];
      $location.hash('bottom');
      pubnub.subscribe('thrift', function (message,env,ch,timer,magic_ch) {
        $scope.messages.push(message);
        $anchorScroll();
      });
      $scope.send = function() {
      	var message = null;
      	try {
      		message = JSON.parse($scope.mail.message);	
	        $http.post('/zigbee_gateway', message).success(function(data, status, headers, config) {
	        
	        }).error(function(data, status, headers, config) {
	          });
      	} catch (e) {
      		alert("Invalid message");
      	}

      };
    });
  </script>
</html>
